@font-face {
    font-family: Roboto;
    src: url(../fonts/web/roboto.woff2) format("woff2"),
        url(../fonts/web/roboto.woff) format("woff");
    font-weight: normal;
}

@font-face {
    font-family: Roboto-Bold;
    src: url(../fonts/web/robotobold.woff2) format("woff2"),
        url(../fonts/web/robotobold.woff) format("woff");
    font-weight: bold;
}

@font-face {
    font-family: Roboto-Medium;
    src: url(../fonts/web/robotomedium.woff2) format("woff2"),
        url(../fonts/web/robotomedium.woff) format("woff");
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 400px;
    background: #fff;
    color: #000;
}

a {
    text-decoration: none;
    color: #000;
}

ul li {
    list-style: none;
}

.header {
    background: #eee;
    padding-top: 50px;
}

.container {
    width: 1200px;
    margin: auto;
}

.header__line {
    display: flex;
    justify-content: space-around;
}

.header__logo {
    width: 160px;
}

.header__logo img {
    margin-left: -80px;
}

.header__navigation {
    font-family: Roboto-Medium, sans-serif;
    width: 440px;
    text-transform: uppercase;
    margin-top: 30px;
}

.header__navigation-list {
    display: flex;
    justify-content: space-between;
}

.header__navigation-item a:hover,
.header__basket a:hover {
    color: #ff555a;
}

.header__basket {
    font-family: Roboto-Medium, sans-serif;
    width: 80px;
    margin-top: 30px;
    text-transform: uppercase;
    position: relative;
}

.header__basket::before {
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    background-image: url('../svg/cart-icon.svg');
    background-repeat: no-repeat;
    position: absolute;
    right: 100px;
}

.header__slider-block {
    display: flex;
    margin-top: 82px;
    margin-bottom: 75px;
    height: 414px;
}

.header__slider-text {
    width: 380px;
}

.header__slider-text h1 {
    font-family: Roboto-Medium, sans-serif;
    font-size: 55px;
    margin-bottom: 35px;
    line-height: 55px;
}

.header__slider-text p {
    font-size: 16px;
    opacity: 0.5;
    margin-bottom: 45px;
    line-height: 24px;
}

.header__slider-text .header__btn-more {
    width: 240px;
    height: 50px;
    font-family: Roboto-Medium, sans-serif;
    font-size: 16px;
    text-align: center;
    padding-top: 17px;
    border: 1px solid #ff555a;
    background: #ff555a;
    border-radius: 5px;
    margin-bottom: 80px;
    color: #fff;
    text-transform: uppercase;
}

.header__slider-text .header__btn-more:hover {
    background: #ff555a;
    opacity: 0.8;
}

.header__slider-img img {
    padding-left: 100px;
}

.works {
    display: flex;
    justify-content: space-around;
    width: 1100px;
    height: 500px;
}

.section__works {
    width: 300px;
    height: 410px;
    /* background: red; */
}

.section__works h2 {
    font-family: Roboto-Bold, sans-serif;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    margin-top: 30px;
}

.section__works p {
    font-size: 16px;
    opacity: 0.5;
    line-height: 24px;
    margin-top: 30px;
}
.section__works button {
    margin-top: 40px;
    width: 155px;
    height: 50px;
    background: #ff555a;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: Roboto-Medium, sans-serif;
    color: #fff;
    font-size: 16px;
}