@font-face {
    font-family: Roboto;
    src: url(../fonts/web/roboto.woff2) format("woff2"),
        url(../fonts/web/roboto.woff) format("woff");
    font-weight: normal;
}

@font-face {
    font-family: Roboto-Bold;
    src: url(../fonts/web/robotobold.woff2) format("woff2"),
        url(../fonts/web/robotobold.woff) format("woff");
    font-weight: bold;
}

@font-face {
    font-family: Roboto-Medium;
    src: url(../fonts/web/robotomedium.woff2) format("woff2"),
        url(../fonts/web/robotomedium.woff) format("woff");
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    background: #fff;
    color: #000;
}

a {
    text-decoration: none;
    color: #000;
}

ul li {
    list-style: none;
}

.header {
    background: #eee;
    padding-top: 50px;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.header__line {
    display: flex;
    justify-content: space-between;
}

.header__logo {
    width: 160px;
}

/* Not working hover on svg */
/* .header__logo img:hover {
    color: #303030;
}
.header__logo img:active {
    color: #a6a6a6;
} */

.header__navigation {
    font-family: Roboto-Medium, sans-serif;
    width: 440px;
    text-transform: uppercase;
    margin-top: 30px;
}

.header__navigation-list {
    display: flex;
    justify-content: space-between;
}

.header__navigation-item a:hover,
.header__basket a:hover {
    color: #ff555a;
}

.header__navigation-item a:active,
.header__basket a:active {
    color: #a6a6a6;
}

.header__basket {
    font-family: Roboto-Medium, sans-serif;
    width: 80px;
    margin-top: 30px;
    text-transform: uppercase;
    position: relative;
}

.header__basket::before {
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    background-image: url('../svg/cart-icon.svg');
    background-repeat: no-repeat;
    position: absolute;
    right: 100px;
}

.header__slider-block {
    display: flex;
    margin-top: 82px;
    margin-bottom: 75px;
    height: 414px;
}

.header__slider-text {
    width: 380px;
}

.header__slider-text h1 {
    font-family: Roboto-Medium, sans-serif;
    font-size: 55px;
    margin-bottom: 35px;
    line-height: 55px;
}

.header__slider-text p {
    font-size: 16px;
    opacity: 0.5;
    margin-bottom: 45px;
    line-height: 24px;
}

.header__slider-text .header__btn-more {
    width: 240px;
    height: 50px;
    font-family: Roboto-Medium, sans-serif;
    font-size: 16px;
    text-align: center;
    padding-top: 17px;
    border: 1px solid #ff555a;
    background: #ff555a;
    border-radius: 5px;
    margin-bottom: 80px;
    color: #fff;
    text-transform: uppercase;
}

.header__slider-text .header__btn-more:hover {
    background: #e74246;
}

.header__slider-text .header__btn-more:active {
    background: #d7373b;
}

.header__slider-img img {
    padding-left: 100px;
}

.advantages {
    display: flex;
    justify-content: space-around;
    width: 1100px;
    height: 500px;
}

.section__advantages {
    width: 300px;
    height: 385px;
}

.section__advantages h2 {
    font-family: Roboto-Bold, sans-serif;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    margin-top: 30px;
}

.section__advantages p {
    font-size: 16px;
    opacity: 0.5;
    line-height: 24px;
    margin-top: 30px;
}

.section__advantages button {
    margin-top: 40px;
    width: 155px;
    height: 50px;
    border: 0;
    border-radius: 5px;
    font-size: 16px;
    text-transform: uppercase;
    font-family: Roboto-Medium, sans-serif;
    color: #fff;
}

.section__advantages .order-1 {
    background: #ff555a;
    cursor: pointer;
}

.section__advantages .order-2 {
    background: #00ca74;
    cursor: pointer;
}

.section__advantages .order-3 {
    background: #efc84a;
    cursor: pointer;
}

.section__advantages .order-1:hover {
    background: #e74246;
}

.section__advantages .order-1:active {
    background: #d7373b;
}

.section__advantages .order-2:hover {
    background: #00bc6c;
}

.section__advantages .order-2:active {
    background: #00aa62;
}

.section__advantages .order-3:hover {
    background: #eab534;
}

.section__advantages .order-3:active {
    background: #e5a722;
}

.section__advantages button:focus {
    outline: none;
}

.section__studio {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #eee;
    padding-top: 75px;
}

.section__studio-info {
    width: 665px;
    height: 375px;
}

.section__studio-info .section__studio-header {
    font-size: 45px;
    font-family: Roboto-Medium, sans-serif;
    color: #000;
    line-height: 45px;
    margin-bottom: 40px;
}

.section__studio-info .section__studio-description,
.section__studio-info .section__studio-list {
    font-size: 16px;
    line-height: 24px;
    opacity: 0.5;
    margin-bottom: 55px;
}

.section__studio-info .section__studio-worklist {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 35px;
    font-family: Roboto-Bold, sans-serif;
}

.section__studio-list .section__studio-item::before {
    content: '—';
    display: inline;
    font-size: 20px;
    color: #fb565a;
    margin-left: 25px;
    padding-right: 10px;
    font-weight: bold;
}

.section__studio-list .section__studio-item {
    padding-bottom: 20px;
}

.section__stat {
    width: 360px;
    height: 430px;
}

.section__stat-logo {
    margin-bottom: 30px;
}

.section__stat-info .section__stat-header {
    text-transform: uppercase;
    font-size: 16px;
    font-family: Roboto-Bold, sans-serif;
    text-align: center;
    margin-bottom: 50px;
}

.section__stat-percents {
    margin-right: -50px;
    text-align: left;
}

.section__stat-percents th {
    font-size: 45px;
    font-family: Roboto-Bold, sans-serif;
    padding-bottom: 30px;
}

.section__stat-percents th span {
    vertical-align: super;
    font-size: 30px;
}

.section__stat-percents tr td {
    font-size: 16px;
    line-height: 18px;
    opacity: 0.5;
}

.sponsors {
    border-top: 2px solid #eee;
    border-bottom: 2px solid #eee;
    margin: 75px 0;
    height: 180px;
}

.footer__map {
    display: block;
    position: relative;
}

.footer__map-contacts {
    width: 330px;
    height: 310px;
    background: #fff;
    margin: 50px 0;
    position: absolute;
    top: 0;
    padding: 55px 50px;
}

.footer__map-contacts h3 {
    font-family: Roboto-Bold, sans-serif;
    font-size: 18px;
    margin-bottom: 35px;
}

.footer__map-contacts p {
    font-size: 16px;
    opacity: 0.5;
    line-height: 18px;
    margin-bottom: 25px;
}

.footer__map-contacts .tel {
    font-size: 16px;
    opacity: 0.5;
}

.footer__map-contacts .write-to-us {
    width: 240px;
    height: 50px;
    margin-top: 30px;
    font-family: Roboto-Medium, sans-serif;
    font-size: 16px;
    text-align: center;
    padding-top: 17px;
    border: 1px solid #ff555a;
    background: #ff555a;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
}

.footer__map-contacts .write-to-us:hover {
    background: #e74246;
}

.footer__map-contacts .write-to-us:active {
    background: #d7373b;
}

.footer__map-ico {
    position: absolute;
    top: 15px;
    left: 785px;
}

.sponsors__container {
    display: flex;
    justify-content: space-between;
    margin: 60px 30px;
}

.footer__contacts {
    margin-top: 75px;
    display: flex;
    justify-content: space-around;
}

.footer__contacts-socials {
    width: 350px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 75px;
}

.footer__contacts-socials .vk {
    background: #eee;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.footer__contacts-socials .fb {
    background: #eee;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.footer__contacts-socials .ins {
    background: #eee;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.footer__slogan h2 {
    font-size: 36px;
    font-family: Roboto-Bold, sans-serif;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer__slogan p {
    font-size: 16px;
    opacity: 0.5;
    line-height: 22px;
}

.contact__form {
    display: none;
    width: 960px;
    height: 590px;
    background: #fff;
    /* display: none; */
    margin: auto;
    border: 1px solid #eee;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: -105px;
    left: 105px;
}

.contact__form-wrap {
    width: 760px;
    height: 430px;
    margin: auto;
}

.contact__form h2 {
    margin: 30px 0;
    font-size: 45px;
    line-height: 45px;
    font-family: Roboto-Medium, sans-serif;
}

.contact__form label {
    font-size: 16px;
    line-height: 18px;
    font-family: Roboto-Bold, sans-serif;
}

.contact__form form input[type="text"],
.contact__form form input[type="email"] {
    width: 360px;
    height: 50px;
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 15px 15px;
    opacity: 0.5;
    font-size: 16px;
    margin-bottom: 35px;
}

.contact__form form textarea {
    width: 760px;
    height: 115px;
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 15px 15px;
    opacity: 0.5;
    font-size: 16px;
}

.contact__form-wrap form .send {
    width: 260px;
    height: 50px;
    margin-top: 30px;
    font-family: Roboto-Medium, sans-serif;
    font-size: 16px;
    text-align: center;
    border: 1px solid #ff555a;
    background: #ff555a;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}

.contact__form-wrap form .send:hover {
    background: #e74246;
}

.contact__form-wrap form .send:active {
    background: #d7373b;
}

.contact__form .contact__form-close {
    border: none;
    position: absolute;
    top: 50px;
    right: 100px;
    /* opacity: 0.5; */
    cursor: pointer;
}
.contact__form .contact__form-close::hover {
    background-color: #d7373b;
}